.box{
		box-sizing: border-box;
		border-top: 1px solid #EEEEEE;
		.item{
			width: 700upx;
			border-bottom: 1px solid #EEEEEE;
			text-align: center;
			font-size: 28upx;
			display: flex;
			float: right;
			align-items: center;
			view{
				width: 600upx;
				padding: 20upx;
			}
			icon{
				float: right;
			}
		}
		.item:nth-of-type(4) {
			border: none;
		}
		.text-box{
			float: left;
			border-top: 1px solid #EEEEEE;
			width: 750upx;
			padding: 80upx 30upx;
			box-sizing: border-box;
			.text{
				box-sizing: border-box;
				float: left;
				height: 150upx;
				border-radius: 10upx;
				font-size: 32upx;
				padding: 20upx 20upx;
				border: 1px solid #EEEEEE
			}
		}
		.but-box{
			display: flex;
			width: 750upx;
			justify-content: center;
			float: left;
			buttom{
				box-sizing: border-box;
				float: left;
				
				width: 700upx;
				border-radius: 10upx;
				background: #007BFB;
				text-align: center;
				font-size: 28upx;
				color: white;
				padding: 28upx;
			}
		}
	}