.box{
		.tips-box{
			box-sizing: border-box;
			width: 750upx;
			height: 400upx;
			font-size: 28upx;
			text-align: center;
			display: flex;
			justify-content:center;
			align-items: center;
			font-weight: bold;
		}
		.logo-box{
			// background-image: url('../../static/images/timg.jpg');
			// background-size: 100% 100%;
			height: 370upx;
			background-color: #007BFB;
			border: 1px solid  #007BFB;
			// border-radius: 50%;
			width: 750upx;
			box-sizing: border-box;
			line-height: 65upx;
			
			.logo{
				width: 90%;
				margin: 0 auto;
				box-sizing: border-box;
				margin-top: 80upx;
				padding: 15upx;
				min-height: 500upx;
				background-color: white;
				border-top-left-radius: 20upx;
				border-top-right-radius: 20upx;
				font-size: 35upx;
				font-weight: bold;
				.login-new{
					width: 100%;
					display: flex;
					align-items: center;
					.user-icon {
						width: 65upx;
						height: 65upx;
						line-height: 80upx;
						margin: 0;
						padding: 0;
						margin-left: 20upx;
						border-radius: 50%;
						overflow: hidden;
					}
					.user-name {
						margin: 0;
						padding: 0;
						margin-left: 30upx;
						height: 80upx;
						line-height: 80upx;
						overflow: hidden;
					}
					.operation-follow{
						.add-follow{
							color: white;
							text-align: center;
							font-size: 24rpx;
							background-color: #42E1A4;
							margin-left: 20upx
						}
						.clean-follow{
							color: white;
							text-align: center;
							font-size: 24rpx;
							background-color: #808080;
							margin-left: 20upx
						}
					}
					// button {
					// 	margin-left: 20upx;
					// 	font-size: 28upx;
					// 	background: none;
					// 	color: blue;
					// 	left: 225upx;
					// }
					button::after{ border: none;background: none;}
					.vip{
						width: 150upx;
						height: 50upx;
						line-height: 50upx;
						border-radius: 10upx;
						text-align: center;
						color: white;
						margin-left: 20upx;
						font-size: 28upx;
						margin-left: 225upx;
						background-color: #535A63;
					}
				}
				.text{
					background-color: white;
					display: block;
					width: 90%;
					text-align: center;
					font-size: 24upx;
					color: #808080;
					font-family: PingFang SC;
				}
				.my-autograph{
					background-color: white;
					width: 90%;
					text-align: center;
					font-size: 30upx;
					font-weight: bold;
					font-family: PingFang SC;
				}
				.follow-type{
					background-color: white;
					width: 90%;
					font-size: 30upx;
					display: flex;
					align-items:center;
					font-family: PingFang SC;
					view{
						display: flex;
						align-items: center;
					}
					view:first-child{
						margin-left: 115upx;
					}
					.follow-left{
						font-weight: bold;
						font-family: PingFang SC;
					}
					.fans-right{
						margin-left: 10upx;
						margin-right: 20upx;
						font-weight: 300;
						color: #808080;
						font-size: 22upx;
						font-family: PingFang SC;
					}
				}
			}
		}
	}
	.loading-text{
		height: 80upx;
		line-height: 80upx;
		font-size: 30upx;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.list-box{
		padding: 0 20upx;
		box-sizing: border-box;
	}
	.reset-height{
		width: 100%;
		position:absolute;
		top: 430upx;
		box-sizing: border-box;
		left: 0;
		bottom: 0;
	}
	.service-and-specil {
		background-color: white;
		width: 90%;
		margin: 0 auto;
		margin-top: 0upx;
		box-sizing: border-box;
		padding: 0 20upx;
		.title-box {
			width: 100%;
			display: flex;
			padding: 0 32upx;
			box-sizing: border-box;
			margin-bottom: 10upx;
			display: flex;
			justify-content: space-between;
			.title-item {
				position:relative;
				font-size: 32upx;
				font-weight: 600;
				color: #656565;
				padding-bottom: 14upx;
				line-height: 45upx;
				&.active {
					font-size: 30upx;
					color: #333333;
					border-bottom: 3px #007BFB solid;
				}
				&:first-child {
					// margin-right: 62upx;
				}
				.dot{
					width: 10px;
					height: 10px;
					background-color: #FF0000;
					border-radius: 50%;
					position: absolute;
					top: -6upx;
					right: -12upx;
				}
			}
		}
		.service-column-wrapper {
			width: 100%;
			height: 100%;
			border-top: 1px solid #EEEEEE;
			box-sizing: border-box;
			padding: 0 20upx;
			.column-box {
				width: 686upx;
				padding: 24upx 36upx 56upx 36upx;
				border-radius: 8px;
				box-sizing: border-box;
				border: 1px solid rgba(151, 151, 151, 0.2);
				margin-bottom: 24upx;
				box-shadow: -2upx 12upx 20upx -16upx rgba(0, 0, 0, .2);
				.title {
					display: flex;
					.icon {
						width: 50upx;
						height: 50upx;
						flex: 0 0 50upx;
						display: inline-block;
					}
					.label {
						margin-left: 20upx;
						font-size: 34upx;
						font-weight: 500;
						flex: 1;
					}
					.right-more {
						font-size: 24upx;
						color: #999999;
						line-height: 56upx;
						image {
							width: 18upx;
							height: 18upx;
							margin-left: 8upx;
						}
					}
				}
				.list-wrapper {
					display: flex;
					flex-wrap: wrap;
					.item {
						flex: 0 0 50%;
						font-size: 28upx;
						margin-top: 36upx;
						font-weight: 400;
						color: #333333;
						box-sizing: border-box;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						&.double {
							border-left: 1upx solid #eeeeee;
							padding-left: 30upx;
						}
					}
				}
			}
		}
	}
	.animated {
		.conversation{
			width: 100%;
			padding: 40upx;
			display: flex;
			box-sizing: border-box;
			.alturl{
				width: 65upx;
				height: 65upx;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 30upx;
				image{
					width: 65upx;
					height: 65upx;
				}
			}
			.alt-content{
				width: 72%;
				background-color:white;
				padding: 15upx 30upx 15upx 15upx;
				border-radius: 8upx;
				font-size: 27upx;
				word-break: break-all;
			}
		}
		.phine-server{
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: white;
			padding: 20upx 0;
			box-sizing:border-box;
			.kefu{
				width: 100%;
				background-color: white;
				font-size: 24upx;
				font-family: PingFang SC;
				display: flex;
				justify-content: center;
				align-items: center;
				
			}
			.kefu::after{
				border: none;
			}
			image{
				width: 35rpx;
				height: 35rpx;
				margin-right: 20rpx;
			}
		}
		.left{
			padding: 40upx 20upx;
			border-bottom: 20rpx solid #f7f7f7;
			.left-box{
				margin-left: 10upx;
				display: flex;
				align-items: center;
				color: #656565;
				font-size: 24upx;
				box-sizing: border-box;
				.icon{
					width: 30upx;
					height: 30upx;
					border: 1px solid white;
					border-radius: 50%;
					margin-right: 15upx;
					overflow: hidden;
					image{
						width: 30upx;
						height: 30upx;
					}
				}
			}
			.toast{
				height: 60rpx;
				width: 250upx;
				position: relative;
				display: table;
				text-align: center;
				border-radius: 5px;
				background-color: #000;
				opacity: 0.7;
				top: -57upx;
				left: 380upx;
				color: white;
				font-size: 24upx;
				padding: 10upx 10upx;
				display: flex;
				align-items: center;
				justify-content: space-around;
				float: left;
				view{
					display: flex;
					align-items:center;
					justify-content: space-between;
				}
				image{
					width:40upx;
					height: 40upx;
					margin-right: 10upx;
				}
			}
			.toast:after{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border: 6px solid transparent;
				position: absolute;
				top: 9px;
				border-left: 8px solid #000;
				right: -14px;
		
			}
			.content{
				display: flex;
				align-items: center;
				font-size: 28upx;
				box-sizing: border-box;
				word-wrap:break-word; 
				word-break:break-all;
				overflow: hidden;
				margin-left: 60upx;
				padding: 0 30upx 0 20upx;
				justify-content: space-between;
				image{
					transform:rotate(90deg);
					width: 60upx;
					height: 60upx;
				}
			}
		}
	}
	.add-height{
		height: 80upx;
		width: 100%;
	}
	.none{
		height: 100%;
		background-color:#f6f6f6
	},
	.add{
		height: '';
		min-height: 700upx;
		background-color:#f6f6f6
	}