.box{
		width: 600upx;
		margin: 0 auto;
		font-size: 24upx;
		.logo{
			text-align: center;
			image{
				width: 150upx;
				height: 150upx;
				margin-top: 100upx;
			}
			view{
				color: #7A7A7A;
				font-size: 32upx;
				margin-top: 50upx;
				font-weight: bold;
			}
		}
		.musin{
			width: 600upx;
			border: 1px solid #E6E6E6;
			margin-top: 50upx;
			border-radius: 10upx;
			.title{
				font-size: 28upx;
				font-weight: bold;
				margin: 20upx 20upx;
				color: #5F5F5F;
			}
			.phone{
				width: 100%;
				border-right: 1px solid #E6E6E6;
				border-bottom-right-radius: 10upx;
				// padding: 15upx 0upx;
				margin-top: 20upx;
				background-color: #E6E6E6;
				.title{
					font-size: 28upx;
					font-weight: bold;
					margin: 20upx 0;
					color: #5F5F5F;
				}
				.box-left,.box-right{
					display: flex;
					align-items: center;
					font-size: 35upx;
					color: #919191;
					font-weight: bold;
					image{
						width: 50upx;
						height: 50upx;
						margin-right: 20upx;
					}
				}
			}
			.tips-box{
				width: 560upx;
				display: flex;
				justify-content: space-around;
				padding: 0 20upx;
				.box-left,.box-right{
					color: #919191;
					display: flex;
					align-items: center;
					image{
						width: 35upx;
						height: 35upx;
						margin-right: 20upx;
					}
				}
			}
		}
		
		.open-vip-btn{
			font-size: 24upx;
			margin-top: 50px;
			width:100%;
			padding: 10rpx 0;
			text-align:center;
			background-color: #2EE3A5;
		}
	}