.box{
		box-sizing: border-box;
		font-family:PingFang SC;
		.img-box{
			width: 750upx;
			font-family:PingFang SC;
			box-sizing: border-box;
			padding:10upx 20upx;
			display: flex;
			flex-wrap: wrap;
			view{
				width: 150upx;
				font-family:PingFang SC;
				height: 150upx;
				border-radius: 20upx;
				margin-right: 20upx;
				margin-top: 20upx;
				overflow: hidden;
				position: relative;
				icon{
					position: absolute;
					top: 20upx;
					right: 20upx;
				}
				image{
					width: 100%;
					height: 200upx;
				}
			}
		}
		.text{
			font-family:PingFang SC;
			width: 750upx;
			box-sizing: border-box;
			height: 200upx;
			font-weight:bold;
			padding: 20upx;
			font-size: 50upx;
			/* color:#D0D0D0; */
			border-bottom: 1px solid #EEEEEE
		}
		.content{
			font-family:PingFang SC;
			box-sizing: border-box;
			width: 750upx;
			height:400upx;
			font-size: 32upx;
			padding: 20upx;
			margin-top: 30upx;
		}
		.position{
			font-family:PingFang SC;
			position: fixed;
			bottom: 120upx;
			display: flex;
			align-items: center;
			padding: 10upx;
			box-sizing: border-box;
			width: 150upx;
			border: 1px solid #EEEEEE;
			border-radius: 8upx;
			font-size: 24upx;
			background-color: white;
			image{
				width: 30upx;
				height: 30upx;
			}
		}
		.bottom{
			font-family:PingFang SC;
			position: fixed;
			padding: 0 20upx 0 0;
			box-sizing: border-box;
			width: 750upx;
			bottom: 0;
			.img-btn{
				width: 100%;
				font-family:PingFang SC;
				background-color: white;
				box-sizing: border-box;
				padding: 10upx 20upx;
				display: flex;
				justify-content: space-between;
				view{
					font-family:PingFang SC;
					width: 100upx;
					image{
						width: 50upx;
						height: 50upx;
						margin-right: 30upx;
					}
				}
				.comment-btn{
					font-family:PingFang SC;
					margin:0;
					padding:0;
					height:80upx;
					line-height: 80upx;
					font-size: 28upx;
					width:150upx;
				}
			}
		}
		
	}